.gantt {
  max-width: 60%;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 16rem 1fr;
  grid-template-areas: 'chart chart' 'name lists';
  gap: 0.625rem;
}

@media (max-aspect-ratio: 8/5) {
  .gantt {
    max-width: 80%;
  }
}

@media (max-aspect-ratio: 1/1) {
  .gantt {
    max-width: 95%;
  }
}

.gantt .chart {
  grid-area: chart;
}
