.gantt {
  overflow-x: scroll;
  overflow-y: hidden;
  max-inline-size: 60vw;
  max-block-size: 80vh;
}

@media (max-aspect-ratio: 8/5) {
  .gantt {
    max-inline-size: 80vw;
  }
}

@media (max-aspect-ratio: 1/1) {
  .gantt {
    max-inline-size: 95vw;
  }
}
