.lists {
  background: var(--foreground-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 0.8rem;
}

.list {
  background: red;
  color: white;
  border-radius: 100vmax;
  font-weight: 700;
  line-height: 1.8rem;
  padding: 0 1rem;
  max-width: fit-content;
  cursor: pointer;
}
