@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background-color: #0b1622;
  --foreground-color: #151f2e;
  --text-color: #9fadbd;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  font-family: 'Roboto', system-ui, sans-serif;
  user-select: none;
  overflow: hidden;
}
